  <section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-30" data-background="assets/images/section-2.jpg">

    <div class="hs-caption">
      <div class="caption-content">
        <div class="hs-title-size-1 font-alt mb-30">
          Hello & welcome
        </div>
        <div class="hs-title-size-4 font-alt mb-40">
          We are Rival
        </div>
        <a href="#" class="btn btn-border-w btn-round">Learn More</a>
      </div>
    </div>

<%= link_to image_tag("sign-in-twitter.png"), '/auth/twitter' %>
<%= render 'sessions/form' %>
  </section >

