<div class="main">
<section class="module bg-dark bg-dark-60" data-background="<%= asset_path 'section-2.jpg' %>">

    <div class="hs-caption">
      <div class="caption-content">
        <div class="hs-title-size-1 font-alt mb-30">
          Create + Collaborate
        </div>
        <div class="hs-title-size-4 font-alt mb-40">
          We are DANERICMATT
        </div>
        <a href="#" id="login-button" class="btn btn-border-w btn-round">Sign in and jam</a>
      </div>
    </div>

  </section >



</div>