<div class="main">
  <section class="module bg-dark bg-dark-60" data-background="<%= asset_path 'section-2.jpg' %>">

    <div class="hs-caption">
      <div class="caption-content">
        <div class="hs-title-size-1 font-alt mb-30">
          Create + Collaborate
        </div>
        <div class="hs-title-size-4 font-alt mb-40">
          We are DANERICMATT
        </div>
        <a href="#" id="login-button" class="btn btn-border-w btn-round">Sign in and jam</a>
      </div>
    </div>
  </section >
  <section id="about" class="module">
  <div class="container">
    <div class="row"
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">Welcome to DANERICMATT</h2>
        <div class="module-subtitle font-serif large-text">
              DANERICMATT is a collaborative music platform for the creation and sharing of short musical ideas.
            </div>
      </div>
    </div>
  </div>
  </section>
</div>