<audio id="music" preload="true">
  <source src="<%= @track.audio.url %>" type="audio/wav">
  </audio>
<div id="audioplayer">
  <button id="pButton" class="play" onclick="play()"></button>
  <div id="timeline">    
    <div id="playhead"></div>
  </div>
</div>