<audio id="music" preload="true">
  <source src="<%= @track.audio.url %>" type="audio/wav">
  </audio>
<div id="audioplayer-<%= @track.id %>" class="audioplayer">
  <button class="play"></button>
  <div class="timeline">    
    <div class="playhead"></div>
  </div>
</div>