<center>
<button id="record-btn"onclick="recorderStart()">Record</button>

<button id='stop-btn' onclick="recorderStop()">Stop</button>

<button id='playall-btn'onclick="playAll()">Play All!</button>

<div id="all-tracks">
  
</div>