<div id="all-tracks">
  <button onclick="playAll()">Play All!</button>

  <div id="audio-and-player-1">
  <audio id="music-track1" class="music" preload="true">
    <source src="track1.mp3" type="audio/mp3">
    </audio>
  <div id="audioplayer-track1" class="audioplayer">
    <button class="play"></button>
    <div class="timeline">    
      <div class="playhead"></div>
    </div>
  </div>
  </div>

  <div id="audio-and-player-2">
  <audio id="music-track2" class="music" preload="true">
    <source src="track1.mp3" type="audio/mp3">
    </audio>
  <div id="audioplayer-track2" class="audioplayer">
    <button class="play"></button>
    <div class="timeline">    
      <div class="playhead"></div>
    </div>
  </div>
  </div>

</div>