<div class="whole-comment">
    <div class="project-user-comment-picture">
       <%= link_to image_tag(comment.user.avatar_url, size: "24x24"), user_path(comment.user)  %>
    </div>
    <div class="project-user-comment-body">
      <p><%= "#{comment.user.name}: #{comment.body}" %></p>
    </div>
</div>