<div class="col-sm-6">

	<!-- Widget start -->
	<div class="widget">
		
		<% if current_user == @user %>
			<% if current_user.primary_instrument %>
				<h5 class="widget-title font-alt">Change Primary Instrument</h5>
			<% else %>
				<h5 class="widget-title font-alt">Set Primary Instrument</h5>
			<% end %>

			<%= form_for @user, :method => :patch do |f| %>

				<%= f.label :primary_instrument %>
				<%= f.select :primary_instrument, options_for_select(@instruments), :selected => @user.primary_instrument %><br><br>
				<center><%= f.submit "Set Instrument", class: 'btn btn-g btn-round' %></center>
			<% end %>
		<% end %>
	</div>
	<!-- Widget end -->

</div>