<% if current_user == @user %>
	<% if current_user.primary_instrument %>
		<h2>Change Primary Instrument</h2>
	<% else %>
		<h2>Set Primary Instrument</h2>
	<% end %>

	<%= form_for @user, :method => :patch do |f| %>

		<%= f.label :primary_instrument %>
		<%= f.select :primary_instrument, options_for_select(@instruments), :selected => @user.primary_instrument %><br>
		<%= f.submit "Set Instrument" %>
	<% end %>
<% end %>