<% @project_iterator_count = 0 %>

<div class="main">
	<section class="module-small bg-dark bg-dark-30" data-background="assets/images/section-8.jpg" style="background-image: url(file:///Users/ericfries/Desktop/Rival-v1.4/Site/assets/images/section-8.jpg);">
		<div class="container">

			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">
				
					<h1 class="module-title font-alt">Projects by <%= @user.name %></h1>

					<div class="module-subtitle font-serif mb-0">
							<%= @user.musician_type %>
					</div>

				</div>

			</div><!-- .row -->

		</div>
	</section>

	<section class="module">
		<div class="container">
			<%= render @user.projects.reverse %>
		</div>
	</section>
</div>

<div class="module-small bg-dark">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<div class="widget">
					<h5 class="widget-title font-alt">User Settings</h5><br>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Display primary instrument form -->
			<%= render 'instrument' %>

			<div class="col-sm-6">
				<div class="widget">
					<h5 class="widget-title font-alt">Delete Account</h5>
					<p>
						We're sorry to see you go! Feel free to come back and jam anytime.
					</p><br>
					<center><button type="button" id="recorderStart" class="btn btn-danger btn-round">Delete Account</button></center>
				</div>
			</div>
		</div>


			

	</div><!-- .row -->
</div>