<h1>Getting Started</h1>

<ol>
	<li>Use Google Chrome or Firefox.  <p>We're working on adding support for Safari, but stick with these browsers for now.</p>
	</li>
	<li>Allow your browser to access your microphone.
	</li>
	<li>Use headphones while recording! You'll create a feedback loop if you don't which will hurt everyone's ears.
</li>
	<li>Create a new project or find an open project you would like to contribute to.</li>
	<li>Click "record" to record audio, and "stop" to save that audio to the project.  <p>If you aren't satisifed with you track, click "delete" to remove your track.</p></li>
	<li>At the bottom of the project page, invite others to collaborate on your project by specifying what instruments you want to add to the project.  <p>For example, if you start a project with a guitar track, you can specify that you want to add a bass track.  When bass players sign in, they'll see your project as one looking for a bass part. The project owner can review the community's track contributions, and choose to keep or delete the added tracks.</p></li>
	<li>The project owner can set the project's status as either "open" or "complete."</li>
	<p>"Open" projects are accepting track contributions, but "closed" projects cannot be contributed to.</p>

	<li>Create, collaborate and have fun!</li>
</ol>