<ol>
	<li><strong>Use Google Chrome.</strong>  We're working on adding support for other browsers, but stick with Chrome for now.</li>
	<li><strong>Allow Chrome to access your microphone.</strong>
	</li>
	<li><strong>Use headphones</strong> while recording! You'll create a feedback loop (the bad kind) if you don't which will hurt everyone's ears.
</li>
	<li><strong>Create a New Project or find an open project</strong> you would like to contribute to.</li>
	<li>Click "Record" to record audio, and "Stop" to save that audio to the project. If you aren't satisfied with you track, click the trash can to remove your track.</li>
	<li>At the bottom of the project page, <strong>invite others to collaborate</strong> on your project by specifying what instruments you want to add to the project.  For example, if you start a project with a guitar track, you can specify that you want to add a bass track.  When bass players sign in, they'll see your project as one that needs a bass part. The project owner can review the community's track contributions, and choose to keep or delete the added tracks.</li>
	<li>The project owner can set the project's status as either "open" or "complete."
<strong>"Open" projects are accepting track contributions, but "closed" projects cannot be contributed to.</strong></li>

	<li><strong>Create, collaborate and have fun!</strong></li>
</ol>