<h1>Projects</h1>

<h2>Completed Projects</h2>
<% @projects.each do |project| %>
	<% if project.completed == true %>
	<%= link_to project.name, project %><br>
	<% end %>
<% end %>


<h2>Open Projects</h2>
<% @projects.each do |project| %>
	<% if project.completed == false %>
	<%= link_to project.name, project %><br>
	<% end %>
<% end %>

<% if current_user && current_user.primary_instrument %>
	<h2>Projects Looking For <%= current_user.primary_instrument %></h2>
<% end %>